.paspoto {
    width: 200px;
    border-radius: 15px;
    border: 5px solid gray;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.potopas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
    transform: translateY(5px);
    padding-top: 0.2rem;
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
}

nav {
    text-align: center; /* Mengatur teks di dalam nav menjadi tengah */
    margin-top: 20px; /* Jarak dari atas */
}

ul {
    list-style-type: none; /* Menghapus bullet point */
    padding: 0; /* Menghapus padding */
}

li {
    display: inline; /* Menampilkan item dalam satu baris */
    margin: 0 15px; /* Jarak antar item */
}

.circle {
    width: 159px; /* Atur lebar gambar */
    height: 200px; /* Atur tinggi gambar */
    border-radius: 80%; /* Membuat gambar menjadi bulat */
    object-fit: cover; /* Memastikan gambar tidak terdistorsi */
    border: 2px solid #ccc; /* Opsional: menambahkan border */
}
body {
    background: linear-gradient( rgb(57, 57, 94) 15%, rgb(162, 161, 161) 40%, gray 70%) ;
}